# Banco de dados local (para não subir dados de teste ao GitHub)
*.db
*.sqlite3
*.sqlite

# Arquivos temporários e cache do Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
.venv/
venv/
env/
ENV/